[main]

models_folder = /datafast/pymedialab/models/labeled_models/
tfidfindex_folder = /datafast/pymedialab/tfidf_indexes/
labeled_models_folder = /datafast/pymedialab/models/labeled_models/
snowball_stopwords = resources/snowball.stopwords.en.txt
object_store = /datafast/pymedialab/
themes_folder = resources/agenda/
labeling_folder = resources/labeling/
document_topics_cache = /datafast/pymedialab/cache/document_topics/

default_corpus = us_politics

[document_list]
shuffle_documents = 1
doctopic_threshold = 0.15

[rsssucker_databases]
rsssucker_topus1_27022015 = 1
rsssucker_topus1_02042015 = 1
